<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Details</title>
</head>
<body>
    <% if(product){ %>
        <div>
            <h2><%= product.title %></h2>
            <p><strong>Description:</strong> <%= product.description %></p>
            <p><strong>Category:</strong> <%= product.category %></p>
            <p><strong>Price:</strong> $<%= product.price.toFixed(2) %></p>
            <p><strong>Rating:</strong> <%= product.rating %></p>
            <p><strong>Discount Percentage:</strong> <%= product.discountPercentage %>%</p>
        </div>
    <% } else { %>
        <p>No product found.</p>
    <% } %>
</body>
</html>
